body {
  font-family: "Roboto", serif;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pattaya", serif;
}

b.bFont {
  font-family: "Roboto", serif;
  font-size: 1.5rem;
}

b.clipedFont {
  font-family: "Roboto", serif;
}

.gameFont {
  background: #ffc107;
}

.top-right-img {
  position: absolute;
  top: 8px;
  right: 16px;
}

.top-left-img {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bg-views {
  background: rgba(0, 0, 0, 0.7);
}

.bg-cliped {
  background: rgba(255, 0, 0, 1);
}

.bg-transparent {
  transition: 750ms ease;
  background-color: transparent !important;
}

.bg-transparent.scrolled {
  background-color: #c271eb !important;
}

.bg-custom {
  background-color: #c271eb !important;
}
.navbar {
  margin: 0;
  border: 0;
}

.nav-image {
  content: url("/src/clipitch/imgs/logo.png");
  width: 20%;
  height: 100%;
}

nav .navbar-nav li a {
  color: rgb(255, 255, 255) !important;
}

header.masthead {
  background-image: url("/src/clipitch/imgs/gdw.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.textoPrincipal {
  text-align: center;
  padding-top: 4%;
  text-shadow: 1px 1px 2px black;
}

.textoTitulo {
  color: #c271eb !important;
  text-shadow: -1px 1px 1px #ffe900;
  text-align: center;
  padding-top: 4%;
}

.carousel-item {
  text-shadow: 0px 2px 4px black;
}

#carouselIFrame {
  width: 1280px !important;
  height: 720px !important;
}

.list-group-item {
  background-color: transparent;
  border-color: transparent;
}

ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.textCenter {
  text-align: center;
}

.testeImg:hover {
  border-left: 7px solid #c271eb !important;
  border-bottom: 7px solid #c271eb !important;
  transform: scale(1.01);
}

/* Define o css para o tamanho da resolução em Tablets */
@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .bg-transparent {
    background-color: #c271eb !important;
    position: relative;
  }

  .nav-image {
    content: url("/src/clipitch/imgs/logo-mobile.png");
    width: 20%;
    height: 100%;
  }

  #carouselIFrame {
    width: 100% !important;
    height: 100% !important;
  }
}

/* efine o css para o tamanho da resolução em IPad modo Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .bg-transparent {
    transition: 750ms ease;
    background-color: transparent !important;
  }

  .nav-image {
    content: url("/src/clipitch/imgs/logo-mobile.png");
    width: 20%;
    height: 100%;
  }

  #carouselIFrame {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Define o css para o tamanho da resolução em IPad modo Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .bg-transparent {
    transition: 750ms ease;
    background-color: transparent !important;
  }

  .nav-image {
    content: url("/src/clipitch/imgs/logo-mobile.png");
    width: 20%;
    height: 100%;
  }

  #carouselIFrame {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Define o css para o tamanho da resolução em IPad Pro modo Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bg-transparent {
    transition: 750ms ease;
    background-color: transparent !important;
  }

  .nav-image {
    content: url("/src/clipitch/imgs/logo-mobile.png");
    width: 20%;
    height: 100%;
  }

  #carouselIFrame {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Define o css para o tamanho da resolução em Iphone X (Mobile) */
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .bg-transparent {
    background-color: #c271eb !important;
    position: relative;
  }

  .nav-image {
    content: url("/src/clipitch/imgs/logo-mobile.png");
    width: 20%;
    height: 100%;
  }

  #carouselIFrame {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Define o css para o tamanho da resolução Iphone X (Mobile) */
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bg-transparent {
    background-color: #c271eb !important;
    position: relative;
  }

  .nav-image {
    content: url("/src/clipitch/imgs/logo-mobile.png");
    width: 20%;
    height: 100%;
  }

  #carouselIFrame {
    width: 100% !important;
    height: 100% !important;
  }
}

.modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.modal-content {
  background-image: url("/src/clipitch/imgs/cph_snip.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  margin: 15% auto;
  width: 45%;
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffe900;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: transparent;
  border: none !important;
}

.modal-footer {
  background-color: transparent;
  border: none !important;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

.modal-xl {
  max-width: 100vw !important;
  max-height: 100vh !important;
}